<%= form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= hidden_field_tag "micropost[category_ids][]", nil %>
    <% Category.all.each do |cat| %>
      <%= check_box_tag "micropost[category_ids][]", cat.id, form.object.categories.include?(cat) %>
      <%= cat.name %>
    <% end %>
  </div>


  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class= "field" > 
    <%= form.label :image %> 
    <%= form.file_field :image %> 
  </div> 


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
