<p id="notice"><%= notice %></p>
<h1><%= link_to image_tag("background.png", alt: "Microposts_bg") %></h1>
<h1>Microposts</h1>
<table id="microposts">
  <thead>
    <tr>
      <th>User</th>
      <th>Category</th>
      <th>Content</th>
      <th>Show and New comments </th>
      <th>Edit</th>
      <th>Destory</th>
    </tr>
  </thead>
  <tbody class="page">
  <%= render @microposts %>
  </tbody>
</table>
<br>
<%= link_to 'New Micropost', new_micropost_path %>
<p><%= link_to 'Back', users_path %></p>

<%= paginate @microposts %>
